#%RAML 0.8
title: VBSAPI
version: 1.1
#baseUri: http://www.vbs.com/api
#baseUri: http://mocksvc.mulesoft.com/mocks/bb578fe5-6f4c-43e4-a2eb-6d50f0fada46/api
baseUri: http://mocksvc.mulesoft.com/mocks/2ecc2442-e190-4b0a-8167-5b2557921c58/mocks/bb578fe5-6f4c-43e4-a2eb-6d50f0fada46/api
/GetAll:
  displayName: GetAll
  get:
    description: Gets a list of all the vehicle booking system details
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "VBLoad":  {
                  "DateGenerated": "07-01-2016",
                  "VBLoadList": {     
                    "VB": {
                       "VBR": "100",
                       "VRN": "A100",
                        "DateBooked": "01-01-2016",
                        "TimeBooked": "09:14",
                        "Amount": "25.50"					           
                        }  ,
                    "VB": {
                       "VBR": "100",
                       "VRN": "A100",
                        "DateBooked": "01-01-2016",
                        "TimeBooked": "09:14",
                        "Amount": "25.50"					           
                        }                                          
                       }          
                }		   
                }     
/vb:
  displayName: vb  
  /{VBR}/vbrDetails:
    displayName: vbrDetails
    get:
      description: Get the vehicle booking reference details of an existing vehicle
      responses:
        200:
          body:
            application/json:
              example: |
                "VB": {
                       "VBR": "100",
                       "VRN": "A100",
                        "DateBooked": "01-01-2016",
                        "TimeBooked": "09:14",
                        "Amount": "25.50"					           
                        }   
        400:
          body:
            application/json:
              example: |
                {
                  "message": "The vehicle booking reference does not exist"
                }
  /{VBR}/Delete:
    displayName: Delete
    get:
      description: Delete the details and sends the status message
      responses:
        200:
          body:
            application/json:
              example: |
                "VB": {
                       "VBR": "100",
                       "VRN": "A100",
                        "DateBooked": "01-01-2016",
                        "TimeBooked": "09:14",
                        "Amount": "25.75"				           
                        }   
        400:
          body:
            application/json:
              example: |
                {
                  "message": "The vehicle booking reference does not exist"
                }  
                         
/postOperation:
  displayName: postOperation
  post:
    description: insert single vehicle details
    queryParameters: 
      VBR : 
        displayName: VBR
        type: string
        example: 200
        required: true 
      VRN : 
        displayName: VRN
        type: string
        example: A200
        required: true       
      Amount : 
        displayName: Amount
        type: string
        example: 5000.00
        required: true           
    responses:
      200:
        body:
          application/json:
            example: |
             "VB": {
                       "VBR": "100",
                       "VRN": "A100",
                        "DateBooked": "01-01-2016",
                        "TimeBooked": "09:14",
                        "Amount": "25.50"                    
                        }                
      500:
        body:
          application/json:
            example: |
              {
                "errorMessage": "The vehicle details couldn't be entered."
              }